.main-header.navbar .navbar-brand{
	background-color:#000000 !important;
	color:#ffffff !important; 
	border-color:#000000;
}

div[form=form_login] .panel-heading{
	background-color:#000000 !important;
}

/* #tbutton_btn_entrar{
	background-color:#000000 !important;
} */

.btn-primary {
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.btn.btn-primary:hover {
    background-color: #33170C !important;
    border-color: #33170C !important;
    color: #fff !important;
}

.main-header>.navbar{
	background-color:#000000 !important;
}

.main-header .logo{
	background-color:#000000 !important;
}

.skin-blue .main-header li.user-header {
    background-color: #000000 !important;
}

.dropdown-menu>.divider {
    background-color: #eee;
    border-top: 1px solid #e9ecef !important;
}

.content-wrapper {
	background-color: #ecf0f5 !important;
  }

  .table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.02) !important;
  }


/* --------------------------------------------------------------- */
/* DOUBLE                                                          */
/* --------------------------------------------------------------- */

.bg-double-zinc-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245);
}

.h-\[38px\] {
    height: 38px;
}

.w-\[38px\] {
    width: 38px;
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.h-10 {
    height: 2.5rem;
}

.w-10 {
    width: 2.5rem;
}

.flex{
	display: flex;
}

.flex-row{
    flex-flow: row wrap;
}

.botao_acao {
    margin-right: 3px;
    border: 1px solid #dee2e6!important;
    width: 2.5rem;
    height: 2.5rem;
}

.botao_vermelho {
    border-width: 1px;
    width: 30px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: 2px solid #ff1d46;
    background-color: #ff1d46;
    display: inline-block;
    text-align: center;
    padding-inline: 1px;
    padding-block: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.botao_preto {
    border-width: 1px;
    width: 30px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: 2px solid #000000;
    background-color: #000000;
    display: inline-block;
    text-align: center;
    padding-inline: 1px;
    padding-block: 6px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.botao_azul {
    border-width: 1px;
    width: 30px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: 2px solid #0285C7;
    background-color: #0285C7;
    display: inline-block;
    text-align: center;
    padding-inline: 1px;
    padding-block: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.botao_vermelho > div, .botao_preto > div, .botao_azul > div{
	width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-left: 1.4px;
    margin-top: -3.4px;
    display: flex;
    border: 2px solid white;
    color: white;
    font-size: 10px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.botao_branco {
    border-width: 1px;
    width: 30px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: 2px solid #000000;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    padding-inline: 1px;
    padding-block: 6px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.botao_branco > div{  
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-left: 1.4px;
    margin-top: -3.4px;
    display: flex;
    border: 2px solid black;
    color: black;
    font-size: 10px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.botao_parar {
    border-width: 1px;
    width: 30px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: 2px solid #000000;
    background-color: #b6ff00;
    display: inline-block;
    text-align: center;
    padding-inline: 1px;
    padding-block: 6px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.botao_parar > div{  
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-left: 1.4px;
    margin-top: -3.4px;
    display: flex;
    border: 2px solid black;
    color: black;
    font-size: 10px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.regras button:focus {
    box-shadow: none;
    outline: none;
}

.regras button {
    position: absolute;
    right: 0;
    height: 100%;
    border: unset;
    background: transparent;
    padding: 0px 30px 20px 0px;
    color: #555;
}

.mensagem {
    margin: 10px 2px;
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    font-size: 14px;
    word-wrap: break-word;
    display: block;
    max-width: fit-content;
}

.mensagem.enviada {
    background-color: #dcf8c6; /* Cor de fundo das mensagens enviadas */
    margin-left: auto;
    border-top-right-radius: 0;
}

.mensagem.recebida {
    background-color: #ffffff; /* Cor de fundo das mensagens recebidas */
    border: 1px solid #ccc;
    margin-right: auto;
    border-top-left-radius: 0;
}

.mensagem.enviada::after, .mensagem.recebida::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.mensagem.enviada::after {
    border-width: 0 0 15px 15px;
    border-color: transparent transparent transparent #dcf8c6;
    right: -10px;
    top: 0;
}

.mensagem.recebida::after {
    border-width: 15px 15px 0 0;
    border-color: #ffffff transparent transparent transparent;
    left: -10px;
    top: 0;
}
