
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/js/jquery.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js?afver=760"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-ui.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/select2_locale_pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/independent/js/independent-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/independent/js/fullcalendar-pt.js?afver=760" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=760" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/application.js?appver=760" type="text/javascript"></script>
    <script src="app/lib/alanis/js/form_utils.js" type="text/javascript"></script>
    


    <!-- Inclua o Luxon-->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
    <!-- Inclua o Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Inclua o adaptador do Chart.js para Luxon 
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <!---->