<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- meta name="viewport" content="width=device-width, initial-scale=1" -->
  <title>{title}</title>
  <!-- link rel="shortcut icon" type="image/png" href="app/templates/{template}/assets/images/logos/favicon.png" /-->
  <link rel="stylesheet" href="app/templates/{template}/assets/css/styles.min.css" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="manifest.json?appver=760">
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  
  {LIBRARIES}
  {HEAD}

  <script src="app/templates/{template}/js/theme.js?appver=800"></script>
  <link rel="stylesheet" href="app/templates/{template}/theme.css?appver=800">
</head>

<style>
  .form-floating>div>.form-control {
      padding: 1rem 0.75rem;
  }
  .tabpanel_two_factor_form {
      padding: 2rem !important;
  }
  :root {
      --ad-font-size: 1rem;
  }
  </style>
  <script>
      $(function() {
          // Start framework.
          Adianti.configure({adianti_options});
          Adianti.start();
          
          // Start template.
          Template.configure({template_options}, 'login');
          Template.start();
      });
  </script>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="wrapper">
              <div class="main" style="{login_background};background-size: cover;height: 100%;overflow: hidden;">
                  <main class="content px-3 py-2">
                      <div class="container-fluid">
                          <!-- Where the framework content is injected -->
                          <div id="adianti_div_content"></div>
                      </div>
                      
                      <div id="adianti_online_content"></div>
                  </main>
              </div>
            </div>
            <!-- <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="app/templates/{template}/assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                    <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
                  </div>
                  <a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
                    <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
                  </div>
                </form>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>